.c-post-btns {
    display: inline-flex;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    overflow: hidden;
}

.post-button {
    display: flex;
    width: 72px;
    align-items: center;
    justify-content: center;
    background: #FAFBFC;
    color: #24292E;
    border-right: 1px solid rgba(27, 31, 35, 0.15);

    &:hover {
        background: #F0F0F0;

        .icon-star {
            color: #586069;
        }
    }
}

.post-stars {
    border-right: solid rgba(27, 31, 35, 0.15);
}

.icon-fork,
.icon-star {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    svg {
        fill: #586069;;
    }
}

.icon-star {
    width: 15px;
    height: 15px;
}

.icon-fork {
    width: 12px;
    height: 12px;
}

.active .icon-star {
    color: #31AE54;

    &:hover {
        color: #586069;
    }
}

.post-stars {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 12px;
    border-right: 1px solid rgba(27, 31, 35, 0.15);
    color: #24292E;
}

.post-forks {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 12px;
    color: #24292E;
}