.img {
    width: 44px;
    height: 44px;
    border-radius: 100%;
}

.c-user-profile {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.username {
    margin-left: 14px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}