.username {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 10px;
}

.story-user-item {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.img:hover {
border: 3px solid #A6328D;
box-sizing: border-box;
border-radius: 100%;
}