.topline_container {
    display: flex;
    justify-content: space-between;
}

.stories {
    display: flex;
    justify-content: space-between;
}

.feed-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.feed {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.post {
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }
}

.post__title {
    text-decoration: none;
    display: block;
    color: #000;
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 15px;
    line-height: 1;
}

.post__title:hover {
    text-decoration: underline;
}

.post__buttons {
    margin-top: 33px;
}

.icon {
    width: 15px;
    height: 15px;
}